@import "tailwindcss";

:root {
  --background: #f5f1eb;
  --foreground: #171717;

  --shadow: #111;
  --shadow2: #e1f5f1;
  --text: #9E9E9E;

  --tittle: #1a1a1a;
  --muted: #6b6560;

  --dashText: #1a1815;

  --cardBorder: #c5bfb8;
  --cardBg: #ece6dd;
  --navB: #e2dcd4;
  --dashBg: #faf7f2
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-border: var(--border);
  --color-text: var(--text);
  --color-input: var(--input);

  --color-shadow: var(--shadow);
  --color-shadow2: var(--shadow2);
  --color-title: var(--title);

  --color-muted: var(--muted);

  --color-cardBorder: var(--cardBorder);
  --color-cardBg: var(--cardBg);

  --color-navB: var(--navB);
  --color-dashBg: var(--dashBg);

  --color-dashText: var(--dashText)
}


.dark {
  --background: #0c0a09;
  --foreground: #ededed;

  --border: #696969;

  --text: #9E9E9E;
  --input: #BDBDBD;

  --shadow: #545353;

  --shadow2: #9E9E9E;
  --title: #e8e2d9;

  --muted: #8a8078;

  --cardBorder: #3a3530;
  --cardBg: #1a1714;

  
  --dashText: #E8E2D9;

  --navB: #ffffff0a;
  --dashBg: #151311;
}


@utility shadow {
  box-shadow: 15px 15px 0 var(--shadow);
}

@utility shadow2 {
  box-shadow: 0 0 0 4px var(--shadow2);
}

.recharts-wrapper:focus,
.recharts-surface:focus,
.recharts-surface *:focus {
  outline: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}